body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}

/* Cuadrícula campeones */
#listaCampeones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

#listaCampeones img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

#listaCampeones img:hover {
  transform: scale(1.05);
}

/* Perfil de campeón */
#perfilCampeon {
  padding: 10px;
  text-align: center;
}

#perfilCampeon img {
  width: 90%;
  border-radius: 15px;
  margin-bottom: 10px;
}

#contenidoPerfil h2 {
  margin: 10px 0;
}

.habilidad {
  background: #222;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
  text-align: left;
}

